name: zodgame

on:
  schedule:
  - cron: "0 12 * * *"
  
    
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.9"
        cache: "pip"
    - name: Install requirements
      run: |
        pip3 install -r ./zodgame/requirements.txt
    - name: Run 
      run: |
        python3 ./zodgame/zodgame.py "${{secrets.ZODGAME_COOKIE}}" "${{secrets.ZODGAME_WEBHOOK_URL}}" "${{secrets.ZODGAME_AUTHORIZATION}}" 
    - uses: liskin/gh-workflow-keepalive@main
